[submodule "ClubTenisPadelServer"]
	path = ClubTenisPadelServer
	url = https://github.com/jeromo/ClubTenisPadelServer.git
[submodule "ClubTenisPadelAndroid"]
	path = ClubTenisPadelAndroid
	url = https://github.com/jeromo/ClubTenisPadelAndroid.git
[submodule "ClubTenisPadelQt"]
	path = ClubTenisPadelQt
	url = https://github.com/jeromo/ClubTenisPadelQt.git
