[submodule "ClubTenisPadelAndroid"]
	path = ClubTenisPadelAndroid
	url = git@github.com:jeromo/ClubTenisPadelAndroid
[submodule "ClubTenisPadelQt"]
	path = ClubTenisPadelQt
	url = git@github.com:jeromo/ClubTenisPadelQt
