[submodule "ClubTenisPadelServer"]
	path = ClubTenisPadelServer
	url = git@github.com:jeromo/ClubTenisPadelServer
[submodule "ClubTenisPadelAndroid"]
	path = ClubTenisPadelAndroid
	url = git@github.com:jeromo/ClubTenisPadelAndroid.
[submodule "ClubTenisPadelQt"]
	path = ClubTenisPadelQt
	url = git@github.com:jeromo/ClubTenisPadelQt
